@model IEnumerable<CitelTeste.WebAppCitelTeste.Models.Categoria>

@{
    ViewData["Title"] = "Categoria";
}

<h1>Lista de Categorias</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Categoria" asp-action="AdicionarCategoria">Adicionar categoria</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <td>
                Opcoes
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarCategoria", new { id=item.Id }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Detalhes", "ConsultarCategorias", new { id=item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Deletar", "ExcluirCategoria", new { id=item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
